<div *ngIf="datalist?.length > 0">
  <div style="height:auto; max-height: 700px; overflow:auto;" class="row">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" style="cursor: pointer;" *ngFor="let item of datalist">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [attr.data-transno]="item.TransNo" (change)="docheck($event)">
          </label>
        </div>
        下單編號: {{item.TransNo}} &nbsp; 下單日期: {{item.TradeDate}}
        <br> 商品: {{item.CommodityID}} &nbsp; 數量: {{item.TradeQuantity}} &nbsp; 金額: {{item.TradeAmount}}
      </li>
    </ul>
  </div>
  <div class="row">
    <button type="button" mat-raised-button color="primary" (click)="doPay()">
      <mat-icon>save</mat-icon>儲存
    </button>
    <button type="button" mat-raised-button color="primary" (click)="cancel()">
      <mat-icon>close</mat-icon>取消
    </button>
  </div>
</div>
<div *ngIf="datalist?.length <= 0">
  <span>查無未付款進貨下單</span>
</div>
