<!-- <div *ngIf="datalist?.length > 0">
  <div style="height:auto;max-height: 700px; overflow:auto;">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" style="cursor: pointer;" *ngFor="let item of datalist" (click)="doSelect(item)">
        交易代碼: {{item.TransNo}} &nbsp; 商品代碼: {{item.CommodityID}} &nbsp; 數量: {{item.TradeQuantity}}&nbsp; 金額: {{item.TradeAmount}}
      </li>
    </ul>
  </div>
</div>
<div *ngIf="datalist?.length <= 0">
  查無資料
</div> -->
<mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5,10,15]">
</mat-paginator>
<mat-table [dataSource]="matTableDS">
  <ng-container matColumnDef="TradeDate">
    <mat-header-cell *matHeaderCellDef>交易日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.TradeDate | date: 'yyyy/MM/dd' }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CommodityID">
    <mat-header-cell *matHeaderCellDef>商品</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ findname(row.CommodityID) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="TradeQuantity">
    <mat-header-cell *matHeaderCellDef>數量</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.TradeQuantity }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="TradeAmount">
    <mat-header-cell *matHeaderCellDef>金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.TradeAmount | currency }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['TradeDate','CommodityID','TradeQuantity','TradeAmount']"></mat-header-row>
  <mat-row *matRowDef="let dataRow; columns: ['TradeDate','CommodityID','TradeQuantity','TradeAmount']" (click)="doSelect(dataRow)"></mat-row>
</mat-table>
