<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>商品基本資料維護</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" mat-raised-button color="primary" (click)="doCreate()">
        <mat-icon>add</mat-icon>新增
      </button>
      <app-commodity-list [datalist]="data" (selectEvent)="doSelect($event)"></app-commodity-list>
    </div>
    <div class="col-md-6">
      <div class="row">
        <app-commodity-edit [item]="selected" [isCreate]="isCreate" (updateEvent)="doUpdate($event)" (deleteEvent)="doDelete($event)"></app-commodity-edit>
      </div>
    </div>
  </div>
</div>
