<div *ngIf="item">
  <form>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="transNo">出貨編號</label>
        <input type="text" class="form-control" id="transNo" name="transNo" [(ngModel)]="item.TransNo" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="tradeDate">出貨日期</label>
        <input type="date" class="form-control" id="tradeDate" name="tradeDate" [(ngModel)]="item.TradeDate" required>
      </div> -->
      <mat-form-field class="form-group col-md-6">
        <input matInput type="text" placeholder="出貨編號" id="transNo" name="transNo" [(ngModel)]="item.TransNo" disabled>
      </mat-form-field>
      <mat-form-field class="form-group col-md-6">
        <input matInput type="date" placeholder="出貨日期" id="tradeDate" name="tradeDate" [(ngModel)]="item.TradeDate" required>
      </mat-form-field>
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="Buyer">買家</label>
        <input type="text" class="form-control" id="Buyer" name="Buyer" [(ngModel)]="item.Buyer" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="Delivery">配送</label>
        <select class="form-control" id="Delivery" name="Delivery" [(ngModel)]="item.Delivery">
          <option *ngFor="let item of deliverylist" [value]="item.ID">{{item.Name}}</option>
        </select>
      </div> -->
      <mat-form-field class="form-group col-md-6">
        <input matInput type="text" placeholder="買家" id="Buyer" name="Buyer" [(ngModel)]="item.Buyer" disabled>
      </mat-form-field>
      <mat-form-field class="form-group col-md-6">
        <mat-select placeholder="配送" id="Delivery" name="Delivery" [(ngModel)]="item.Delivery" required>
          <mat-option *ngFor="let item of deliverylist" [value]="item.ID">{{item.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="tradeAmount">金額</label>
        <input type="number" class="form-control" id="tradeAmount" name="tradeAmount" [(ngModel)]="item.TradeAmount">
      </div>
      <div class="form-group col-md-6">
        <label for="Fee">運費</label>
        <input type="number" class="form-control" id="Fee" name="Fee" [(ngModel)]="item.Fee">
      </div> -->
      <mat-form-field class="form-group col-md-6">
        <span matPrefix>
          <mat-icon>attach_money</mat-icon>
        </span>
        <input matInput type="number" placeholder="金額" id="tradeAmount" name="tradeAmount" [(ngModel)]="item.TradeAmount">
      </mat-form-field>
      <mat-form-field class="form-group col-md-6">
        <span matPrefix>
          <mat-icon>attach_money</mat-icon>
        </span>
        <input matInput type="number" placeholder="運費" id="Fee" name="Fee" [(ngModel)]="item.Fee">
      </mat-form-field>
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-12">
        <label for="remark">備註</label>
        <textarea class="form-control" id="remark" name="remark" [(ngModel)]="item.Remark"></textarea>
      </div> -->
      <mat-form-field class="form-group col-md-12">
        <textarea matInput [matTextareaAutosize]="true" placeholder="備註" id="remark" name="remark" [(ngModel)]="item.Remark"></textarea>
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button type="button" mat-raised-button color="primary" (click)="update()">
          <mat-icon>save</mat-icon>儲存
        </button>
        <button type="button" mat-raised-button color="primary" *ngIf="!isCreate" (click)="delete()">
          <mat-icon>delete</mat-icon>刪除
        </button>
        <button type="button" mat-raised-button color="primary" (click)="cancel()">
          <mat-icon>close</mat-icon>取消
        </button>
      </div>
    </div>
  </form>
</div>
<p *ngIf="!item">
  <strong>請選擇資料...</strong>
</p>
