<div *ngIf="item">
  <form>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="transNo">付款編號</label>
        <input type="text" class="form-control" id="transNo" name="transNo" [(ngModel)]="item.TransNo" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="tradeDate">付款日期</label>
        <input type="date" class="form-control" id="tradeDate" name="tradeDate" [(ngModel)]="item.TradeDate" required>
      </div> -->
      <mat-form-field class="form-group col-md-6">
        <input matInput type="text" placeholder="付款編號" id="transNo" name="transNo" [(ngModel)]="item.TransNo" disabled>
      </mat-form-field>
      <mat-form-field class="form-group col-md-6">
        <input matInput type="date" placeholder="付款日期" id="tradeDate" name="tradeDate" [(ngModel)]="item.TradeDate" required>
      </mat-form-field>
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="tradeAmount">運費</label>
        <input type="number" class="form-control" id="tradeAmount" name="tradeAmount" [(ngModel)]="item.Fee">
      </div> -->
      <mat-form-field class="form-group col-md-6">
        <span matPrefix>
          <mat-icon>attach_money</mat-icon>
        </span>
        <input matInput type="number" placeholder="運費" id="tradeAmount" name="tradeAmount" [(ngModel)]="item.Fee">
      </mat-form-field>
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-12">
        <label for="remark">備註</label>
        <textarea class="form-control" id="remark" name="remark" [(ngModel)]="item.Remark"></textarea>
      </div> -->
      <mat-form-field class="form-group col-md-12">
        <textarea matInput [matTextareaAutosize]="true" placeholder="備註" id="remark" name="remark" [(ngModel)]="item.Remark"></textarea>
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button type="button" mat-raised-button color="primary" (click)="update()">
          <mat-icon>save</mat-icon>儲存
        </button>
        <button type="button" mat-raised-button color="primary" *ngIf="!isCreate" (click)="delete()">
          <mat-icon>delete</mat-icon>刪除
        </button>
        <button type="button" mat-raised-button color="primary" (click)="cancel()">
          <mat-icon>close</mat-icon>取消
        </button>
      </div>
    </div>
  </form>
</div>
<p *ngIf="!item">
  <strong>請選擇資料...</strong>
</p>
