.content {
  height: 60rem;
  overflow: hidden;
}

.toolbar-row {
  height: 7%;
}

.toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.toolbar-width-nav-close {
  width: 67%;
}

.toolbar-width-nav-open {
  width: 58.8%;
}
