<!-- <div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">NiCatApp</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu-content">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu-content">
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">基本設定</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="nav-link" [routerLink]="['/deliverytype']" routerLinkActive="router-link-active">配送方式資料</a>
            <a class="nav-link" [routerLink]="['/nation']" routerLinkActive="router-link-active">國家基本資料</a>
            <a class="nav-link" [routerLink]="['/supplier']" routerLinkActive="router-link-active">供應商基本資料</a>
            <a class="nav-link" [routerLink]="['/commodity']" routerLinkActive="router-link-active">商品基本資料</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">下單/付款/進貨</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId2">
            <a class="nav-link" [routerLink]="['/order']" routerLinkActive="router-link-active">下單</a>
            <a class="nav-link" [routerLink]="['/receipt']" routerLinkActive="router-link-active">付款</a>
            <a class="nav-link" [routerLink]="['/purchase']" routerLinkActive="router-link-active">進貨</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">交易/出貨</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId3">
            <a class="nav-link" [routerLink]="['/trading']" routerLinkActive="router-link-active">交易</a>
            <a class="nav-link" [routerLink]="['/shipper']" routerLinkActive="router-link-active">出貨</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/cashflow']" routerLinkActive="router-link-active">結帳/回帳</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div> -->

<div class="container">
  <div id="loader" style="display:none;">
    <app-loader></app-loader>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #sideNav mode="push">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']" (click)="sideNav.toggle()">
          <mat-icon>home</mat-icon> &nbsp; 首頁
        </a>
        <h1 matSubheader>基本資料</h1>
        <a mat-list-item [routerLink]="['/deliverytype']" (click)="sideNav.toggle()">
          <mat-icon>local_shipping</mat-icon> &nbsp; 配送方式
        </a>
        <a mat-list-item [routerLink]="['/nation']" (click)="sideNav.toggle()">
          <mat-icon>language</mat-icon> &nbsp; 國家
        </a>
        <a mat-list-item [routerLink]="['/supplier']" (click)="sideNav.toggle()">
          <mat-icon>store</mat-icon> &nbsp; 供應商
        </a>
        <a mat-list-item [routerLink]="['/commodity']" (click)="sideNav.toggle()">
          <mat-icon>toc</mat-icon> &nbsp; 商品
        </a>
        <mat-divider></mat-divider>
        <h3 matSubheader>下單/付款/進貨</h3>
        <a mat-list-item [routerLink]="['/order']" (click)="sideNav.toggle()">
          <mat-icon>shopping_cart</mat-icon> &nbsp; 下單
        </a>
        <a mat-list-item [routerLink]="['/receipt']" (click)="sideNav.toggle()">
          <mat-icon>payment</mat-icon> &nbsp; 付款
        </a>
        <a mat-list-item [routerLink]="['/purchase']" (click)="sideNav.toggle()">
          <mat-icon>local_shipping</mat-icon> &nbsp; 進貨
        </a>
        <mat-divider></mat-divider>
        <h3 matSubheader>交易/出貨</h3>
        <a mat-list-item [routerLink]="['/trading']" (click)="sideNav.toggle()">
          <mat-icon>swap_horiz</mat-icon> &nbsp; 交易
        </a>
        <a mat-list-item [routerLink]="['/shipper']" (click)="sideNav.toggle()">
          <mat-icon>local_shipping</mat-icon> &nbsp; 出貨
        </a>
        <mat-divider></mat-divider>
        <h3 matSubheader>結帳/回帳</h3>
        <a mat-list-item [routerLink]="['/cashflow']" (click)="sideNav.toggle()">
          <mat-icon>done_all</mat-icon> &nbsp; 結帳/回帳
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <div class="row toolbar-row">
        <div class="col-md-12">
          <mat-toolbar [ngClass]="{'toolbar': true, 'toolbar-width-nav-close': sideNav.opened == false, 'toolbar-width-nav-open': sideNav.opened }"
            color="primary">
            <button mat-icon-button (click)="sideNav.toggle();">
              <mat-icon>{{ sideNav.opened ? 'close': 'menu' }}</mat-icon>
            </button>
            <span>NiCat App</span>
          </mat-toolbar>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
