<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">NiCatApp</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu-content">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu-content">
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">基本設定</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="nav-link" [routerLink]="['/deliverytype']" routerLinkActive="router-link-active">配送方式資料</a>
              <a class="nav-link" [routerLink]="['/nation']" routerLinkActive="router-link-active">國家基本資料</a>
              <a class="nav-link" [routerLink]="['/supplier']" routerLinkActive="router-link-active">供應商基本資料</a>
              <a class="nav-link" [routerLink]="['/commodity']" routerLinkActive="router-link-active">商品基本資料</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">下單/付款/進貨</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId2">
              <a class="nav-link" [routerLink]="['/order']" routerLinkActive="router-link-active">下單</a>
              <a class="nav-link" [routerLink]="['/receipt']" routerLinkActive="router-link-active">付款</a>
              <a class="nav-link" [routerLink]="['/purchase']" routerLinkActive="router-link-active">進貨</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">交易/出貨</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId3">
              <a class="nav-link" [routerLink]="['/trading']" routerLinkActive="router-link-active">交易</a>
              <a class="nav-link" [routerLink]="['/shipper']" routerLinkActive="router-link-active">出貨</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/cashflow']" routerLinkActive="router-link-active">結帳/回帳</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
