<div *ngIf="item">
  <form>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="id">代碼</label>
        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.ID" [disabled]="!isCreate">
      </div>
      <div class="form-group col-md-6">
        <label for="name">名稱</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="item.Name" required>
      </div> -->
      <mat-form-field class="form-group col-md-6">
        <input matInput type="text" placeholder="代碼" id="id" name="id" [(ngModel)]="item.ID" [disabled]="!isCreate">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="名稱" id="name" name="name" [(ngModel)]="item.Name" required>
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button type="button" mat-raised-button color="primary" (click)="update()">
          <mat-icon>save</mat-icon>儲存
        </button>
        <button type="button" mat-raised-button color="primary" *ngIf="!isCreate" (click)="delete()">
          <mat-icon>delete</mat-icon>刪除
        </button>
        <button type="button" mat-raised-button color="primary" (click)="cancel()">
          <mat-icon>close</mat-icon>取消
        </button>
      </div>
    </div>
  </form>
</div>
<p *ngIf="!item">
  <strong>請選擇資料...</strong>
</p>
