/* .img-fluid {
  opacity: 0.5;
  height: 92%;
  width: 100%;
} */

.container {
  height: 90%;
  width: 100%;
  display: flex;
}

.content {
  margin: auto;
  /*當在flex下，設為auto時，就會垂直與水平居中*/
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}
