<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>國家基本資料維護</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-outline-success" (click)="doCreate()">新增</button>
      <app-nation-list [datalist]="data" (selectEvent)="doSelect($event)"></app-nation-list>
    </div>
    <div class="col-md-6">
      <div class="row" *ngIf="saveMessage !== ''">
        <div class="alert alert-info">
          <strong>{{ saveMessage }}</strong>
        </div>
      </div>
      <div class="row">
        <app-nation-edit [item]="selected" [isCreate]="isCreate" (updateEvent)="doUpdate($event)" (deleteEvent)="doDelete($event)"></app-nation-edit>
      </div>
    </div>
  </div>
</div>
